*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin-block-start: 1lh;
}

a,
button,
img {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body {
  height: 100vh;
  width: 100%;
  background-image: repeating-radial-gradient(#f8f1f1ee 87%, #3fa7b4 90%);
  background-size: 50px 50px;
}
